@tailwind base;
@tailwind components;
@tailwind utilities;

.autogrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
}

// for nextjs image width issue
.image-container > span {
  position: relative !important;
}

.image-cert {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
