.cardContainer {
  padding: 3rem;
  border-radius: 5px;
  border: 1px solid var(--border-muted);
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  .pic {
    justify-self: center;
    img{
      border-radius: 50%;
    }
  }
  h1{
    margin: 1rem 1rem 0 1rem;
    font-weight: 300;
    font-size: 2rem;
  }
  p {
    text-align: center;
  }
}

.subTitle {
  text-align: center;
}

.socialLinks {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: .5rem;
}

@media screen and (max-width: 768px) {
  .cardHeader {
    h1{
      font-size: 1.5rem;
    }
  }
}