.projectHead {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding-bottom: 10px;
  // margin-bottom: 50px;
  margin-bottom: 1em;
  align-items: flex-end;
  &::before {
    content: '';
    position: absolute;
    background: rgb(209, 208, 208);
    height: 0.5px;
    bottom: 0;
    width: 100%;
  }
}
.projectTitle {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 20px;
}
.projectTags {
  justify-self: flex-end;
}
.tag {
  display: inline-block;
  background-color: #e0e0e0;
  margin: 0 5px;
  padding: 2px 5px;
  font-size: 0.7rem;
  border-radius: 2px;

  &:hover {
    background-color: #c8c7c7;
  }
}

.projectBody {
  margin: 0 auto;
  padding: 20px;
  outline: solid 1px rgb(209, 208, 208);
  border-radius: 5px;

  // &::after {
  //   position: absolute;
  //   content: 'Project details';
  //   left: 0;
  //   top: -30px;
  //   font-size: 1.2rem;
  //   font-weight: 500;
  // }
}

.projectDescription {
  width: 90%;
  margin: 0 auto;
}

.projectUrl {
  width: 90%;
  margin: 20px auto;

  span {
    margin: 0 10px;
    padding: 2px 10px;

    &:hover {
      background: rgb(227, 225, 225);
      border-radius: 5px;
    }
  }
}